@import "../bourbon/bourbon";
$gutter: em(8) !global;
@import "../neat/neat";
@import "../reset";



*{
box-sizing: border-box;

 }

ul {
   padding: 0;
   margin: 0;
 }

body {

  background-image: url('../assets/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}


.container-1 {
  width: 100%;
  height: 50px;
  background-color: #2a2a2a;
  position: fixed;
  overflow: hidden;
  top: 0px;
  z-index:1;
}


.outer-container {
  max-width: 925px;
  margin: 0 auto;
}

.container {
  @include outer-container;
}


.logo {
  max-width: 925px;
  margin: 0 auto;
}

.logo-container {
    @include outer-container;
}

.logo_img {
  float: left;
  position: fixed;
  margin-top: 0px;
  display: inline-block;
  padding-left: 175px;
  z-index: 2;

}

@media screen and (max-width: 90px) {
  .logo_img {
    text-align: center;
    margin: 0px;
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .logo_img {
    text-align: center;
    margin: 0px;
    display: block;
  }
}


.logo_name {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: .8rem;
  letter-spacing: 2px;
  line-height: 60px;
  margin-left: 117px;
  text-shadow: 1px 1px #2a2a2a;
  font-weight: 800;
}

@media screen and (max-width: 945px) {
  .logo_name {
    text-align: center;
    margin: 0px;
    display: block;
    float: none;
  }
}

.banner-box {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url('../assets/image55.jpg');
  background-position: 50% 43%;
  opacity: 0.9;
  background-size: cover;
  filter: alpha(opacity=90);
  @include outer-container;
}

.banner {
  text-align: center;
  vertical-align: top;
  margin: 0px;
  display: block;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: impact;
}

.tagline-box {

  @include outer-container;
}

.tagline {
  margin: 0px;
  padding-top: 10%;
  display: block;
  color: #ffffff;
}

.nav-box {
  margin-top: 5px;
  margin-bottom:10px;
  @include outer-container;
}

.block {
  margin: 0 auto;
  vertical-align: middle;
  padding-top:60px;
  padding-bottom:20px;
  text-align: center;
  height:30px;
  max-width: 100%;
  background-color: none;
  font-family: Impact;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 2px;
  color: #445772;
  display: inline-block;
  @include span-columns (2 of 12);
  @include omega;
}

.block:hover {
  margin: 0 auto;
  vertical-align: middle;
  padding-top:60px;
  padding-bottom:20px;
  text-align: center;
  height:30px;
  max-width: 100%;
  background-color: none;
  font-family: impact;
  text-transform: uppercase;
  font-style: italic;
  font-size: .8rem;
  letter-spacing: 2px;
  color: #e72b1e;
  display: inline-block;
  @include span-columns (2 of 12);
  @include omega;
  }



.gallery-box-2 {
  margin-top: 10px;
  @include outer-container;
}

.gallery-img-4 {
  height:400px;
  max-width: 100%;
  background-image: url('../assets/image2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px solid #fff;
  font-family: impact;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  @include span-columns (6 of 12);
}

@media screen and (max-width: 500px) {
  .gallery-img-4 {
      @include span-columns (6 of 12);
      height:200px;
  }
}

.text {
  padding-left: 40px;
  padding-top: 35%;
  max-width: 100%;
  height:100%;
  background:none;
  vertical-align: middle;
  text-align:center;
  color: #fff;
  font-size:2rem;
  letter-spacing: 5px;
  font-weight:bold;
  font-family:"Helvetica Neue";
  overflow: hidden;
  line-height: 1;
  text-shadow: 1px 1px #555;
}

.gallery-img-4:hover .text {
  padding-left: 40px;
  padding-top: 35%;
  background-color: #333;
  opacity: 0.6;
  transition: background-color 0.5s ease;
  vertical-align: middle;
  text-align:center;
  color: #fff;
  font-size:2rem;
  letter-spacing: 5px;
  font-weight:bold;
  font-family:"Helvetica Neue";
  overflow: hidden;
  text-shadow: 1px 1px #555;
  line-height: 1;
}




.gallery-img-5 {
  height:400px;
  max-width: 100%;
  padding-top: 10%;
  background-image: url('../assets/image3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border: 0px solid #fff;
  @include span-columns (6 of 12);
}

@media screen and (max-width: 500px) {
  .gallery-img-5 {
      @include span-columns (6 of 12);
      height:200px;
  }
}

.gallery-box {
  margin-top: 10px;
  margin-bottom: 10px;
  @include outer-container;
}

.gallery-img-1 {
  height:200px;
  max-width: 100%;
  padding-top: 10%;
  background-image: url('../assets/image16.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 0px solid #fff;
  @include span-columns (4);
}

.gallery-img-2 {
  height:200px;
  max-width: 100%;
  border: 0px solid #fff;
  overflow: hidden;
  @include span-columns (4);
}


.gallery-img-3 {
  height:200px;
  max-width: 100%;
  padding-top: 10%;
  background-image: url('../assets/image14.jpg');
  background-size: cover;

  background-repeat: no-repeat;
  border: 0px solid #fff;
  @include span-columns (4);
}

.description-box {

  @include outer-container;
}

.description {
  margin: 0px;
  padding-top: 10%;
  background-color: #fff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: block;

}

.contact-box {
  border: 2px solid red;
  @include outer-container;
}

.contact {
  margin: 0px;
  padding-top: 10%;
  background-color: red;
  display: block;
  border: 2px solid blue;
}

.footer-box {
  width: 100%;
  border: 2px solid red;
}

.footer {


  background-color: #fff;
  display: block;
  border: 2px solid blue;
  @include outer-container;
}


.footer-container {
  max-width:925px;
  margin: 0 auto;
}

.footer li {
  background-color: chartreuse;
  border: 2px solid blue;
  @include span-columns (4);

}
